HELP.md
build/
!**/src/main/**/build/
!**/src/test/**/build/
data/
compose/default/.data/

# Gradle artifacts
.gradle
.gradletasknamecache
!gradle/wrapper/gradle-wrapper.jar
/build
buildSrc/build
/spring-*/build
/framework-*/build
/integration-tests/build
/src/asciidoc/build
spring-test/test-output/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# IDEA artifacts and output dirs
test-output
atlassian-ide-plugin.xml

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Miscellaneous
*.java.hsp
*.sonarj
*.sw*
.DS_Store
build.sh
integration-repo
ivy-cache
argfile*
activemq-data/
classes/

# Log files
jxl.log
jmx.log
derby.log


# Maven artifacts
pom.xml
/target/

### VS Code ###
.vscode/

cached-antora-playbook.yml

# env
.env*
env/
